/*importando fontes*/
@import url('https://fonts.googleapis.com/css2? family= Barlow:wght@900 & family= Bebas+Neue & display=swap');

* {
    background-color: black;
}

.navigation {
    display: table;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    color: white;
}

.mostrador{
    margin-left: 0px;
    margin-top: 0px;
}

footer p {
    color: white;
}